@model TesteCedro.Models.Produto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComprarProduto</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
    <script src="~/js/site.min.js" asp-append-version="true"></script>

</head>
<body>
    <div>
        <h4>Produto</h4>
        <div class="cardProduto" style="width:50%">
            <form method="POST">
                <img src=@Html.DisplayFor(model => model.foto) alt="Avatar" style="width: 350px;height: 250px;display: block; margin: auto;" />
                <h4><b>Nome: @Html.DisplayFor(model => model.nome)</b></h4>
                <p><b>Descrição:</b> @Html.DisplayFor(model => model.descricao)</p>
                <p><b>Valor:</b> @Html.DisplayFor(model => model.valor)</p>
                <input type="hidden" id="valorProduto" value="@Html.DisplayFor(model => model.valor)" disabled>
                <div class="buttonProduto">
                    <input type="button" class="btn btn-default" onclick="comprarAvistaComDesconto(valorProduto)" value="Comprar no Dinheiro" />
                    <input type="button" class="btn btn-default" onclick="comprarAvista(valorProduto)" value="Comprar no Cartão A Vista">
                    <input type="button" class="btn btn-default" onclick="comprarAprazo(valorProduto)" value="Comprar no Cartão A prazo">

                </div>
                <div id="inputParcelas">

                </div>
            </form>
        </div>
    </div>
</body>
</html>
