@model TesteCedro.Models.Produto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComprarProduto</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">
    <script src="~/js/site.min.js" asp-append-version ="true"></script>

</head>
<body>
    <div>
        <h4>Produto</h4>
        <hr />
        <div class="cardProduto">
            <form method="POST">
                <img src=@Html.DisplayFor(model => model.foto)
                     alt="Avatar" style=" width:100%; height:250px;">

                <h4><b>@Html.DisplayFor(model => model.nome)</b></h4>
                <p>@Html.DisplayFor(model => model.descricao)</p>
                <p>@Html.DisplayFor(model => model.valor)</p>
                <input type="hidden" id="valorProduto" value="@Html.DisplayFor(model => model.valor)" disabled>
                

                <div id="dynamicInput">
                    <input type="radio" name="Pagamento" value="cartao"> Cartão <br />
                    <input type="radio" name="Pagamento" value="dinheiro"> Dinheiro <br />
                </div>

                <input type="button" value="Add another text input"
                       onClick="addInput('dynamicInput', 'Pagamento', 'valorProduto');">

            </form>
            <div class="buttonProduto">
                <form asp-action="ComprarProduto">
                    <div class="form-group">
                        <input asp-for="idProduto" type="hidden" class="form-control" />
                        <span asp-validation-for="idProduto" class="text-danger"></span>
                    </div>
                    <a asp-action="Index" class="btn btn-default">Lista</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
