@model TesteCedro.Models.Produto

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetalharProduto</title>

    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">

</head>
<body>

    <div>
        <h1>Detalhar Produtos</h1>
        <hr />
        <div class="cardProduto">

            <img class="img-thumbnail" src=@Html.DisplayFor(modelproduto => modelproduto.foto)
                 alt="Avatar" style=" width:400px; height:250px; display:block; margin:auto;">

            <h4 style="margin:2px"> <b>Nome: </b> @Html.DisplayFor(modelproduto => modelproduto.nome)</h4>
            <p style="margin:2px"> <b>Descrição: </b> @Html.DisplayFor(modelproduto => modelproduto.descricao)</p>
            <p style="margin:2px"> <b>Valor: </b> R$ @Html.DisplayFor(modelproduto => modelproduto.valor)</p>
            <div class="buttonProduto">
                <form asp-action="DetalharProduto">
                    <div class="form-group">
                        <input asp-for="idProduto" type="hidden" class="form-control" />
                        <span asp-validation-for="idProduto" class="text-danger"></span>
                    </div>
                    <a asp-action="Index" class="btn btn-default" style="margin:3px; background-color:aliceblue; color:darkblue "><b> Lista </b></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
