@model TesteCedro.Models.Produto

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcluirProduto</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css">

</head>
<body>
    <div>
        <h1>Excluir Produtos</h1>
        <hr />
        <div class="cardProduto">

            <img src=@Html.DisplayFor(model => model.foto)
                 alt="Avatar" style=" width:100%; height:250px;">

            <h4><b>@Html.DisplayFor(model => model.nome)</b></h4>
            <p>@Html.DisplayFor(model => model.descricao)</p>
            <p>@Html.DisplayFor(model => model.valor)</p>
            <div class="buttonProduto">
                <form asp-action="ExcluirProduto">
                    <div class="form-group">
                        <input asp-for="idProduto" type="hidden" class="form-control" />
                        <span asp-validation-for="idProduto" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Delete" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default">Não</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
